<%- include('../partials/pagehead.ejs') %>
<section class="hero__section">
    <div class="hero__img">
         <img src="./assets/images/logo.png" alt="">
    </div>
 </section>
 <section>
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                 <div class="dd">
                     <h2>Merchandise</h2>
                     <p>Purchase T-shirts, hats, hoodies, and stickers. All items fulfilled and shipped by Bunker Branding. "The best merchandise from the best people on the internet."</p>
                     <a href="" class="btn btn-primary">Buy Merch</a>
                 </div>
             </div>
             <div class="col-md-6 bg-light">
                 <div class="dd">
                     <h2>Bikes for Sale</h2>
                     <p>Purchase custom made BMX bikes. Our bikes are truly custom to include all or some of the following:  powder coating, old school parts, NOS parts, and reproduction parts.</p>
                     <a href="" class="btn btn-primary">Buy Bikes</a>
                 </div>
             </div>
             <div class="col-md-6 bg-light">
                 <div class="dd">
                     <h2>BMX Parts</h2>
                     <p>Shop bars, pedals, tires, brakes, tools, and other misc BMX parts from the RAD BMX Builds Amazon store.</p>
                     <a href="" class="btn btn-primary">Shop Amazon</a>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="dd">
                     <h2>Builds Gallery</h2>
                     <p>Click here to see some of our past builds. These are only a few of the hundreds of builds we have done over the years. Enjoy!</p>
                     <a href="" class="btn btn-primary">Builds</a>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <section>
      <div class="social__container">
         <h2 class="text-primary"> Social Media</h2>
         <div class="social__icons">
           <div><span><i class="fab fa-facebook"></i></span><h4>Facebook</h4></div>
           <div><span><i class="fab fa-instagram"></i></span><h4>Instagram</h4></div>
           <div><span><i class="fab fa-youtube"></i></span><h4>Youtube</h4></div>
         </div>
      </div>
 </section>
<%- include('../partials/pagefoot.ejs') %>