<%- include('../partials/pagehead.ejs') %>
<section class="build__section">
    <div class="container py_l">
        <div class="section__title">
            <h2 class="text-success">Order Has been Placed</h2>
            <p>Send Proof of payment to <a href="mailto:contact@officialporkbmx.com">contact@officialporkbmx.com</a></p>
        </div>
        <div class="row">
           

        </div>
    </div>
</section>
<%- include('../partials/pagefoot.ejs') %>